.bark-menu__container {
    position: relative;
    display: inline-block;
}

.bark-menu__trigger {
    cursor: pointer;
}

.bark-menu {
    position: absolute;
    background-color: var(--bg-default);
    border: 1px solid var(--border-default);
    border-radius: var(--radii-l2, 0.375rem);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 0.5rem;
    z-index: 100;
    min-width: 200px;
}

.bark-menu--bottom-start {
    top: calc(100% + 0.25rem);
    left: 0;
}

.bark-menu--bottom-end {
    top: calc(100% + 0.25rem);
    right: 0;
}

.bark-menu--top-start {
    bottom: calc(100% + 0.25rem);
    left: 0;
}

.bark-menu--top-end {
    bottom: calc(100% + 0.25rem);
    right: 0;
}

.bark-menu--left-start {
    right: calc(100% + 0.25rem);
    top: 0;
}

.bark-menu--right-start {
    left: calc(100% + 0.25rem);
    top: 0;
}
