.bark-radio-card-group-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bark-radio-card-group-label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--fg-default);
}

.bark-radio-card-group {
    display: grid;
    gap: 1rem;
}

.bark-radio-card-group--cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.bark-radio-card-group--cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.bark-radio-card-group--cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.bark-radio-card-group--cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
