<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BarkUI.Demo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Buttons Category -->
        <div class="nav-section">
            <div class="nav-section-header">Buttons</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/button">Button</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/clipboard">Clipboard</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/close-button">Close Button</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/icon-button">Icon Button</NavLink>
            </div>
        </div>

        <!-- Disclosure Category -->
        <div class="nav-section">
            <div class="nav-section-header">Disclosure</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/accordion">Accordion</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/collapsible">Collapsible</NavLink>
            </div>
        </div>

        <!-- Display Category -->
        <div class="nav-section">
            <div class="nav-section-header">Display</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/avatar">Avatar</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/badge">Badge</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/card">Card</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/carousel">Carousel</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/icon">Icon</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/table">Table</NavLink>
            </div>
        </div>

        <!-- Feedback Category -->
        <div class="nav-section">
            <div class="nav-section-header">Feedback</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/alert">Alert</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/progress">Progress</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/skeleton">Skeleton</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/spinner">Spinner</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/toast">Toast</NavLink>
            </div>
        </div>

        <!-- Forms Category -->
        <div class="nav-section">
            <div class="nav-section-header">Forms</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/checkbox">Checkbox</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/color-picker">Color Picker</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/combobox">Combobox</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/date-picker">Date Picker</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/editable">Editable</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/field">Field</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/fieldset">Fieldset</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/file-upload">File Upload</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/input">Input</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/number-input">Number Input</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/pin-input">Pin Input</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/radio-card-group">Radio Card Group</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/radio-group">Radio Group</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/rating-group">Rating Group</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/segment-group">Segment Group</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/select">Select</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/slider">Slider</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/switch">Switch</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/tags-input">Tags Input</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/textarea">Textarea</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/toggle-group">Toggle Group</NavLink>
            </div>
        </div>

        <!-- Layout Category -->
        <div class="nav-section">
            <div class="nav-section-header">Layout</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/absolute-center">Absolute Center</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/group">Group</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/scroll-area">Scroll Area</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/splitter">Splitter</NavLink>
            </div>
        </div>

        <!-- Navigation Category -->
        <div class="nav-section">
            <div class="nav-section-header">Navigation</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/link">Link</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/pagination">Pagination</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/tabs">Tabs</NavLink>
            </div>
        </div>

        <!-- Overlays Category -->
        <div class="nav-section">
            <div class="nav-section-header">Overlays</div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/dialog">Dialog</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/drawer">Drawer</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/hover-card">Hover Card</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/menu">Menu</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/popover">Popover</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="components/tooltip">Tooltip</NavLink>
            </div>
        </div>
    </nav>
</div>

